<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.dao.FileSystemMapper">


  <resultMap id="BaseResultMap" type="com.fly.bean.business.FileSystem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="old_name" jdbcType="VARCHAR" property="oldName" />
    <result column="new_name" jdbcType="VARCHAR" property="newName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="upload_date" jdbcType="VARCHAR" property="uploadDate" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <sql id="Base_Column_List">
    id, old_name, new_name, type, upload_date, path
  </sql>

  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from file_system
  </select>

  <select id="selectFilePathByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from file_system where new_name like #{name}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from file_system
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from file_system
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fly.bean.business.FileSystem">
    insert into file_system (id, old_name, new_name, 
      type, upload_date, path
      )
    values (#{id,jdbcType=INTEGER}, #{oldName,jdbcType=VARCHAR}, #{newName,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{uploadDate,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fly.bean.business.FileSystem">
    insert into file_system
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oldName != null">
        old_name,
      </if>
      <if test="newName != null">
        new_name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="uploadDate != null">
        upload_date,
      </if>
      <if test="path != null">
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oldName != null">
        #{oldName,jdbcType=VARCHAR},
      </if>
      <if test="newName != null">
        #{newName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="uploadDate != null">
        #{uploadDate,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fly.bean.business.FileSystem">
    update file_system
    <set>
      <if test="oldName != null">
        old_name = #{oldName,jdbcType=VARCHAR},
      </if>
      <if test="newName != null">
        new_name = #{newName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="uploadDate != null">
        upload_date = #{uploadDate,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fly.bean.business.FileSystem">
    update file_system
    set old_name = #{oldName,jdbcType=VARCHAR},
      new_name = #{newName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      upload_date = #{uploadDate,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>